@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  background-color: #eeeeee !important;
}

.shoppingcart-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20vh;
}

.cart-wrap {
  width: 75%;
}
.cart-wrap table {
  width: 100%;
  background-color: white;
}

.summary-wrap {
  padding: 10px;
  width: 23%;
  background-color: lightgray;
}

.cart-empty {
  width: 100%;
  text-align: center;
}
.cart-empty i {
  margin-top: 10vh;
  font-size: 60px;
  margin-bottom: 30px;
}
.cart-empty h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.cart-empty p {
  font-size: 16px;
  margin-bottom: 30px;
}
.cart-empty .cart-empty-btn {
  padding: 15px;
  background-color: black;
  border-radius: 20px;
  color: white;
  margin-bottom: 20vh;
}

.page-container {
  width: 80%;
  margin: auto auto;
}

.page-title {
  font-size: 22px;
  padding: 10px 20px 0px 20px;
  text-transform: uppercase;
}

.block {
  width: 80%;
  margin: auto auto;
  margin-bottom: 50px;
}

.myHead {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.gender-cat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* (B) RESPONSIVE IMAGE */
  /* (C) POSITION CAPTION */
  /* REQUIRED */
  /* (D) CAPTION COSMETICS */
}
.gender-cat .textover img {
  width: 100%;
  opacity: 0.8;
}
.gender-cat .textover img:hover {
  opacity: 1;
}
.gender-cat .textover {
  position: relative;
}
.gender-cat .textover figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gender-cat .textover figcaption {
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  color: white;
  text-align: right;
  font-size: 40px;
}
.gender-cat div {
  width: 49%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.gender-cat div img {
  width: 100%;
  background-color: #000;
}

.limited-sale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  /* (B) RESPONSIVE IMAGE */
}
.limited-sale .textover img {
  width: 100%;
  opacity: 0.8;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.limited-sale .textover img:hover {
  opacity: 1;
}
.limited-sale div {
  width: 49%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  /* (C) POSITION CAPTION */
  /* REQUIRED */
  /* (D) CAPTION COSMETICS */
}
.limited-sale div .textover {
  position: relative;
}
.limited-sale div .textover figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
}
.limited-sale div .textover figcaption {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-right: 40px;
  color: white;
  text-align: right;
  font-size: 40px;
}

.search-container {
  width: 100%;
  background-color: #eeeeee !important;
}
.search-container .search-area {
  background-color: #2d4e68;
  width: 80%;
  margin: auto auto;
}
.search-container .search-area .search-txt {
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom: 1px solid lightgrey;
}
.search-container .search-area .search-btn {
  border: none;
  background: none;
  float: right;
  position: absolute;
  margin-top: 10px;
  right: 205px;
}
.search-container .search-area .search-btn i {
  font-size: 30px;
}

.place-order-btn {
  background-color: #40b663;
  color: white;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
}

.checkout-submit {
  padding-top: 20px;
  display: flex;
}
.checkout-submit p {
  padding-left: 20px;
  align-self: center;
  font-size: 8px;
  font-weight: 800;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
}

.billing-block {
  width: 70%;
  padding: 20px;
  border: 1px solid lightgrey;
  margin-bottom: 10vh;
}
.billing-block h4 {
  padding-top: 10px;
}
.billing-block label {
  width: 100%;
}
.billing-block .txt-wrap {
  display: flex;
}
.billing-block .full-txt {
  padding: 10px;
  width: 100%;
}
.billing-block .half-txt {
  width: 50%;
  padding: 10px;
}
.billing-block .third-txt {
  width: 33%;
  padding: 10px;
}
.billing-block .three-quart-txt {
  width: 75%;
  padding: 10px;
}
.billing-block .quart-txt {
  width: 25%;
  padding: 10px;
}
.billing-block .txt {
  width: 100%;
  padding: 10px;
}
.billing-block .payment-options {
  padding: 10px;
  display: flex;
}
.billing-block .payment-options .payment-radio {
  padding: 10px;
}

.summary-block {
  width: 25%;
  border: 1px solid lightgrey;
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.summary-block .total-price {
  margin-top: 20px;
}
.summary-block .order-summary {
  list-style: none;
  display: flex;
}
.summary-block .order-summary div {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.summary-block .order-summary div img {
  width: 80%;
}
.summary-block .order-summary div span {
  width: 100%;
}

.news-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 60px;
}
.news-container .single-news {
  width: 70%;
}
.news-container .single-news img {
  width: 100%;
}
.news-container .single-news .body {
  width: 95%;
  margin: auto auto;
}
.news-container .single-news .body .title {
  width: 100%;
  font-size: 24px;
}
.news-container .single-news .body .text {
  width: 100%;
  font-size: 16px;
  line-height: 28px;
}
.news-container .all-news {
  width: 30%;
}
.news-container .all-news div {
  width: 80%;
  margin: auto auto;
  margin-bottom: 20px;
}
.news-container .all-news div img {
  width: 100%;
}

.more-wrap {
  width: 100%;
  text-align: center;
  padding-bottom: 10vh;
}
.more-wrap .more-btn {
  background-color: #000;
  color: white;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.news {
  padding-bottom: 10vh;
}
.news h2 {
  font-size: 30px;
  padding: 20px;
}

.table {
  width: 70%;
}
.table thead {
  text-align: left;
}
.table tr {
  height: 40px;
}
.table tr td {
  padding: 10px;
}
.table tr:nth-child(2) {
  height: 100px;
}

.clear-btn {
  background-color: rgb(241, 57, 57);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.checkout-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.alert-success {
  background-color: #40b663;
  width: 100%;
}

.close {
  background: none;
  border: none;
}

.single-product {
  display: flex;
}
.single-product .image {
  width: 50%;
}
.single-product .image img {
  width: 100%;
}
.single-product .info {
  align-self: center;
  width: 50%;
}
.single-product .info .form-control {
  margin-top: 10px;
  margin-bottom: 20px;
}
.single-product .info h4 {
  font-size: 18px;
}
.single-product .add-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.page-head {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.page-head h3 {
  text-align: center;
  font-size: 24px;
}
.page-head p {
  text-align: center;
  width: 50%;
  margin: auto auto;
}

.special-offer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.special-offer .page-head {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 100px;
  margin-bottom: -25px;
}
.special-offer .image {
  width: 50%;
  background-color: white;
}
.special-offer .image img {
  width: 100%;
}
.special-offer .text {
  width: 50%;
  background-color: white;
}
.special-offer .text h2 {
  font-size: 28px;
  width: 100%;
}
.special-offer .text h3 {
  font-size: 22px;
  width: 100%;
}
.special-offer .text p {
  font-size: 16px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30vh;
}
.product-container .product {
  width: 25%;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 5px;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.product-container .product img {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}
.product-container .product .body {
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: white;
  margin-top: -10px;
  padding-top: 25px;
  padding-bottom: 35px;
}

.related-product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.related-product .product {
  width: 25%;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 20px;
}
.related-product .product img {
  width: 100%;
}
.related-product .product .body {
  text-decoration: none;
  color: black;
  text-align: center;
}

.about-wrap {
  margin-top: 5vh;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.section-about {
  background-color: orange;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

.about {
  width: 100%;
  display: flex;
  padding-top: 10vh;
}
.about .image {
  width: 50%;
}
.about .image img {
  width: 100%;
}
.about .text {
  width: 50%;
  padding: 0 40px 0 40px;
  align-self: center;
  color: white;
}
.about .text h2 {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 10px;
}
.about .text p {
  line-height: 30px;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
}

.nav-container {
  padding: 2.5rem 3rem;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: black;
  color: white;
}

nav h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}
nav h1 a {
  text-decoration: none;
  color: white;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
}

nav button,
nav ul {
  margin-left: auto;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  height: 2px;
  background-color: white;
  width: 20px;
  display: block;
  margin-top: 4px;
}

nav button span:first-child {
  width: 15px;
}

nav button span:last-child {
  width: 15px;
}

nav ul {
  display: none;
}

.nav-btn {
  display: block;
  margin-left: auto;
}
.nav-btn button {
  padding-left: 10px;
}
.nav-btn a {
  padding-right: 10px;
  color: white;
}

nav ul li {
  display: inline-block;
}

.nav-icons i {
  color: white;
  font-size: 18px;
}

nav ul li a {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.responsive-nav {
  position: absolute;
  top: -120%;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.075);
  transition: all 500ms ease-out;
  z-index: 1;
}

.responsive-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 3rem 0;
  color: #222;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.responsive-nav-active {
  top: 15% !important;
}

@media (min-width: 1024px) {
  .nav-btn {
    display: none;
    float: right;
    background-color: #40b663;
  }
  nav button,
.responsive-nav {
    display: none;
  }
  nav ul {
    display: block;
  }
  .container {
    padding: 2.5rem 10rem;
  }
  html {
    font-size: 72.5%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 60%;
  position: relative;
  background: #355C7D; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}
.container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}
.container .arrow {
  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  color: cornsilk;
  opacity: 0.5;
  transition: opacity 1s;
}
.container .arrow:hover {
  cursor: pointer;
  opacity: 1;
}
.container .arrow-left {
  left: 2%;
  visibility: hidden;
}
.container .arrow-right {
  right: 2%;
  visibility: hidden;
}
.container .dots {
  position: absolute;
  margin: auto;
  top: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 7rem;
  height: auto;
  visibility: hidden;
  z-index: 5;
}
.container .dots .dot {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  color: cornsilk;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  border: 1px solid #f0f0f0;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper .tiles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  color: white;
}
.wrapper .tiles .tile {
  width: 49%;
  margin-bottom: 10px;
}
.wrapper .tiles .tile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
.wrapper .tiles .tile .overlay {
  background-color: black;
  width: 100%;
  height: auto;
}
.wrapper .tiles .tile p {
  position: relative;
  bottom: 50px;
  left: 120px;
  color: white;
  font-size: 26px;
  font-weight: 900;
}
.wrapper .tiles .tile:nth-child(1) {
  margin-right: 1%;
  height: 400px;
}
.wrapper .tiles .tile:nth-child(2) {
  height: 200px;
}
.wrapper .tiles .tile:nth-child(3) {
  margin-right: 1%;
  height: 200px;
}
.wrapper .tiles .tile:nth-child(4) {
  height: 400px;
  margin-top: -200px;
}

body {
  padding-bottom: 100px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.carousel {
  padding-left: 50px;
  padding-right: 50px;
}
.carousel .myLink {
  color: black;
}

.carousel-item {
  text-align: center;
  padding: 0 5px 20px 5px;
  font-weight: bold;
  font-family: "roboto", serif;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.slick-dots {
  visibility: visible;
}

.carousel-item p {
  padding-top: 10px;
  background-color: white;
  padding-bottom: 25px;
}

.carousel-item button {
  font-family: "roboto", serif;
  color: white;
  border: black;
  background-color: black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 18px;
  margin-top: 10px;
}

.carousel-item button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.24), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  opacity: 1 !important;
  font-size: 30px !important;
}

.slick-prev.slick-disabled:before {
  display: none !important;
}

.slick-next.slick-disabled:before {
  display: none !important;
}

.slick-prev {
  left: -50px !important;
}

.slick-next.slick-slide.slick-active::before {
  content: "View more" !important;
  font-family: "roboto", serif !important;
  color: white !important;
  border: black !important;
  background-color: black !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  font-size: 15px !important;
  padding: 12px 18px !important;
  margin-top: 10px !important;
}

.slick-slide {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 100%;
  }
  .col-6 {
    width: 50%;
  }
  .col-10 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
  .p3:after {
    display: none;
  }
  .footer button {
    padding: 10px 30px;
    vertical-align: middle;
    float: right;
    margin-top: 0px;
    margin-left: 25px;
  }
  .p2 {
    margin-top: 20px;
  }
  li {
    padding: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 50%;
  }
  .col-10 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
  .p3 {
    padding-bottom: 30px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
  .p3 {
    padding-bottom: 40px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
  .p3 {
    padding-bottom: 30px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
  .p3 {
    padding-bottom: 30px;
  }
}
a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  margin: 50px auto 0;
}

.card {
  float: left;
  padding: 0 1.7rem;
  width: 33%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.example-1 .wrapper img {
  width: 100%;
}
.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #77d7b9;
  color: #fff;
  padding: 0.8em;
}
.example-1 .date span {
  display: block;
  text-align: center;
}
.example-1 .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.example-1 .date .month {
  text-transform: uppercase;
}
.example-1 .date .month,
.example-1 .date .year {
  font-size: 12px;
}
.example-1 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
  color: gray;
}
.example-1 .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.example-1 .menu-button span {
  width: 5px;
  height: 5px;
  background-color: gray;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.example-1 .menu-button span::after, .example-1 .menu-button span::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.example-1 .menu-button span::before {
  left: -10px;
}
.example-1 .menu-button span::after {
  right: -10px;
}
.example-1 .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: transform 0.3s;
  transform: translateY(0);
}
.example-1 .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: #77d7b9;
  height: 60px;
  position: relative;
}
.example-1 .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.example-1 .menu-content span {
  top: -10px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.newsletter {
  width: 100%;
  background-color: orange;
}
.newsletter .newsletter-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}
.newsletter .newsletter-wrap p {
  padding: 50px 30px 20px 30px;
  color: white;
  font-size: 16px;
}
.newsletter .newsletter-wrap div {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 50px 30px;
}
.newsletter .newsletter-wrap div .newsletter-txt {
  padding: 15px;
  width: 80%;
  border: none;
}
.newsletter .newsletter-wrap div .newsletter-btn {
  padding: 15px;
  border: none;
  color: white;
  background-color: #000;
  width: 20%;
}

footer {
  background-color: black;
  color: white;
  padding: 2%;
}
footer .foot-wrap {
  margin: auto auto;
  width: 80%;
}
footer .foot-wrap .foot-head {
  margin: auto auto;
  text-align: center;
  text-transform: uppercase;
}
footer .foot-wrap .foot-head h3 {
  font-size: 30px;
}
footer .foot-wrap .foot-head h4 {
  font-size: 20px;
  color: orange;
}
footer .foot-wrap .hours {
  text-align: center;
}
footer .foot-wrap .menu {
  margin: auto auto;
}
footer .foot-wrap .menu ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
footer .foot-wrap .menu ul li {
  padding: 10px;
  list-style: none;
}
footer .foot-wrap .menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
footer .foot-wrap .social-text {
  width: 60%;
  text-align: center;
  margin: auto auto;
}
footer .foot-wrap .copyright {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .foot-wrap .copyright a {
  color: white;
}

*,
*:after,
*:before {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}

::-moz-placeholder {
  color: black;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: 300;
}

/* Contact Form Styling */
.contact-container {
  padding: 0 50px 70px;
  color: black;
}

.textcenter {
  text-align: center;
}

.section1 {
  text-align: center;
  display: table;
  width: 100%;
}

.section1 .shtext {
  display: block;
  margin-top: 20px;
}

.section1 .seperator {
  border-bottom: 1px solid black;
  width: 35px;
  display: inline-block;
  margin: 20px;
}

.section1 h1 {
  font-size: 40px;
  color: black;
  font-weight: normal;
}

.section2 {
  width: 1200px;
  margin: 25px auto;
}

.section2 .col2 {
  width: 48.71%;
}

.section2 .col2.first {
  float: left;
}

.section2 .col2.last {
  float: right;
}

.section2 .col2.column2 {
  padding: 0 30px;
}

.section2 span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}

.section2 .sec2addr {
  display: block;
  line-height: 26px;
}

.section2 .sec2addr p:first-child {
  margin-bottom: 10px;
}

.section2 .sec2contactform input[type=text],
.section2 .sec2contactform input[type=email],
.section2 .sec2contactform textarea {
  padding: 18px;
  border: 0;
  background: #EDEDED;
  margin: 7px 0;
}

.section2 .sec2contactform textarea {
  width: 100%;
  display: block;
  color: #666;
  resize: none;
}

.section2 .sec2contactform input[type=submit] {
  padding: 15px 40px;
  color: #fff;
  border: 0;
  background: black;
  font-size: 16px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
}

.section2 .sec2contactform h3 {
  font-weight: normal;
  margin: 20px 0;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 19px;
}

/* @media querries */
@media only screen and (max-width: 1266px) {
  .section2 {
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    padding: 0 30px 70px;
  }
  .section2 .col2 {
    width: 100%;
    display: block;
  }
  .section2 .col2.first {
    margin-bottom: 10px;
  }
  .section2 .col2.column2 {
    padding: 0;
  }
  body .sec2map {
    height: 250px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section2 .sec2addr {
    font-size: 14px;
  }
  .section2 .sec2contactform h3 {
    font-size: 16px;
  }
  .section2 .sec2contactform input[type=text],
.section2 .sec2contactform input[type=email],
.section2 .sec2contactform textarea {
    padding: 10px;
    margin: 3px 0;
  }
  .section2 .sec2contactform input[type=submit] {
    padding: 10px 30px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  .section1 h1 {
    font-size: 28px;
  }
}/*# sourceMappingURL=frontStyle.css.map */